{% extends "base.html" %}

{% load static i18n %}
{% block content %}

  {% if request.user.is_authenticated %}

    <!--main-->
    <div class="container">
      <div class="row justify-content-center no-gutters text-light">

        <!-- левая колонка -->
        <div class="col-sm col-md col-lg-4 col-xl-4">

          <!-- профиль -->
          <div id="profile" class="mx-2 my-2 block text-center py-1">
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col pt-1 mr-1">
                <div class="d-flex justify-content-end">
                  <span><a class="a-button block-icons px-1" data-toggle="modal" data-target="#editUser"
                           href="#editUser"><i class="fa fa-pencil"></i></a></span>
                  <span><a class="a-button block-icons px-1" href="#"><i class="fa fa-window-minimize"></i></a></span>
                  <span><a class="a-button block-icons px-1" href="#"><i class="fa fa-window-maximize"></i></a></span>
                </div>
              </div>
            </div>
            <div class="justify-content-center">

              <div>
                {% if user.avatar %}
                  <img width="150px" src='{{ user.avatar.url }}' id="avatar"
                       class="rounded-circle img-responsive border border-secondary m-2" alt="">
                {% else %} <!-- заглушка -->
                  <img width="150px"
                       src='https://www.events72.ru/sites/default/files/pesona/6f2af146277fd7fc55bac74ad8c2dcb5_xl.jpg'
                       id="avatar" class="avatar" alt="">
                {% endif %}
              </div>
            </div>

            {% if user.first_name or user.last_name %}
              {% if user.first_name %}
                <span><h3 id="first_name">{{ user.first_name }}</h3></span>
              {% endif %}
              {% if user.last_name %}
                <span><h3 id="lastname"> {{ user.last_name }}</h3></span>
              {% endif %}
            {% else %}
              <h2 id="username">{{ user.get_username }}</h2>
            {% endif %}
            {% if user.info %}
              <p id="about"><strong>About: </strong>{{ user.info }}</p>
            {% endif %}
            {% if user.date_of_birth %}
              <p id="birthdate"><strong>Birthdate: </strong>{{ user.date_of_birth }}</p>
            {% endif %}
            {% if user.skills %}
              <p id="skills"><strong>Skills: </strong>
              {% for s in user.skills %}
                <span class="badge badge-secondary">{{ s }}</span>
              {% endfor %}
            {% endif %}
            </p>
          </div>


          {% if user == request.user %} <!-- редактирование профиля -->
            <!-- Action buttons -->
            <div class="row">
              <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">{{ user.username }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form class="form-horizontal" name="editted" id="edit_profile" method="POST"
                          action="{% url 'users:update' %}" enctype="multipart/form-data">
                      <div class="modal-body" id="inner-form">
                        <script type="text/javascript">
                          var xhr = new XMLHttpRequest();
                          xhr.open('GET', "{% url 'users:update' %}", false);
                          xhr.send();
                          if (xhr.status != 200) {
                            alert(xhr.status + ': ' + xhr.statusText);
                          }
                          else {
                            document.write(xhr.responseText);
                          }
                        </script>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <div class="control-group">
                          <div class="controls">
                            <button type="submit" class="btn">Update</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Action buttons -->
          {% endif %}

          <!-- рейтинг -->
          <div id="rating" class="mx-2 my-2 block text-center py-1">
            {% if user.rating %}
              <h4>Рейтинг: {{ user.rating }}</h4>
            {% endif %}
            <!-- демо-контент -->
            <h4>Рейтинг: 100</h4>
            <div class="progress mx-2 mb-2" style="height: 25px;">
              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50</div>
              <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30</div>
              <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20</div>
            </div>
            <!-- /демо-контент -->
          </div>
        </div>

        <!-- правая широкая -->
        <div class="col-md col-lg-8 col-xl-8">
          <!-- новости -->
          <div id="news" class="mx-2 my-2 block text-center py-1">
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <h4>Новости</h4>
              </div>
              <div class="col pt-1 mr-1">
                <div class="d-flex justify-content-end">
                  <span><a class="a-button block-icons px-1" href="#"><i class="fa fa-plus-square"></i></a></span>
                  <span><a class="a-button block-icons px-1" href="#"><i class="fa fa-window-minimize"></i></a></span>
                  <span><a class="a-button block-icons px-1" href="#"><i class="fa fa-window-maximize"></i></a></span>
                </div>
              </div>
            </div>
            {% for n in user.news %}
              <div class="d-flex justify-content-between ml-3 mr-1 pt-2">
                <span class="font-weight-bold pt-2"><a class="a-white a-button" href="#">{{ n.title }}</a></span>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-link-news dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    {{ n.time }}
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Спрятать</a>
                    <a class="dropdown-item" href="#">Поделиться</a>
                  </div>
                </div>
              </div>
              <div class="text-left mx-2 mb-2">{{ n.body }}</div>
            {% endfor %}
            
            <!-- демо-контент -->
              <div class="d-flex justify-content-between ml-3 mr-1 pt-2">
                <span class="font-weight-bold pt-2"><a class="a-white a-button" href="#">Lorem ipsum</a></span>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-link-news dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    10:25 01-01-2015
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Спрятать</a>
                    <a class="dropdown-item" href="#">Поделиться</a>
                  </div>
                </div>
              </div>
              <div class="text-left mx-3 mb-2"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed purus ligula. Proin hendrerit eget dolor et imperdiet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed eleifend bibendum augue eu imperdiet. Nulla interdum lectus sed risus dictum laoreet. Suspendisse libero urna, laoreet auctor ex eu, tristique bibendum neque. Vivamus luctus posuere magna eget imperdiet. Maecenas scelerisque sollicitudin porttitor. Donec augue tellus, venenatis sed rhoncus in, efficitur quis est.</p>
                                               <p>Nulla quis consectetur ligula. Nullam aliquet, nisi ut fermentum venenatis, enim tortor laoreet dolor, nec ultricies massa dui id massa. In et gravida ex. Suspendisse vitae magna sit amet lacus fermentum finibus. Nunc ullamcorper id odio sit amet tempor. Pellentesque nec nisi quis libero facilisis efficitur. Nullam tempor diam id ex dictum aliquam. Nam non arcu non dolor condimentum congue eu et sem. Nam pulvinar vitae sem eu pellentesque. Nam mi sem, feugiat non ornare sit amet, posuere in risus. Integer non turpis lacinia, ultricies nulla vel, porttitor felis.</p> </div>
            <!-- /демо-контент -->
            
          </div>

          <!-- нижний ряд справа -->
          <div class="row justify-content-center no-gutters text-light">
            <!-- левая маленькая колонка нижнего ряда -->
            <div class="col-lg col-xl">

              <!-- задачи -->
              <div id="tasks" class="mx-2 my-2 block text-center pt-1 pb-2">
                <div class="row">
                  <div class="col"></div>
                  <div class="col">
                    <h4>Задачи</h4>
                  </div>
                  <div class="col pt-1 mr-1">
                    <div class="d-flex justify-content-end">
                      <span><a class="a-button block-icons px-1" href="#"><i class="fa fa-plus-square"></i></a></span>
                      <span><a class="a-button block-icons px-1" href="#"><i
                        class="fa fa-window-minimize"></i></a></span>
                      <span><a class="a-button block-icons px-1" href="#"><i
                        class="fa fa-window-maximize"></i></a></span>
                    </div>
                  </div>
                </div>
                {% for t in user.tasks %}
                  <div class="d-flex justify-content-between ml-3 mr-1 pt-2">
                    <span class="font-weight-bold pt-2"><a class="a-white a-button" href="#">{{ t.title }}</a></span>
                    <div class="btn-group">
                      {% if t.isready %} <!-- если задача готова, кнопка серая -->
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                          {{ t.endtime }}
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Редактировать</a>
                          <a class="dropdown-item" href="#">Удалить</a>
                        </div>
                      {% elif t.isoverdue %} <!-- если задача просрочена, кнопка красная -->
                        <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                          {{ t.endtime }}
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Готово</a>
                          <a class="dropdown-item" href="#">Редактировать</a>
                          <a class="dropdown-item" href="#">Удалить</a>
                        </div>
                      {% else %} <!-- кнопка зеленая -->
                        <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                          {{ t.endtime }}
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Готово</a>
                          <a class="dropdown-item" href="#">Редактировать</a>
                          <a class="dropdown-item" href="#">Удалить</a>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
                
                  <!-- демо-контент -->
                  <div class="d-flex justify-content-between ml-3 mr-1 pt-2">
                    <span class="font-weight-bold pt-2"><a class="a-white a-button" href="#">Задача готова</a></span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-link-news dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                          10:25 01-01-2015
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Редактировать</a>
                          <a class="dropdown-item" href="#">Удалить</a>
                        </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between ml-3 mr-1 pt-2">
                    <span class="font-weight-bold pt-2"><a class="a-white a-button" href="#">Задача просрочена</a></span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                          10:25 01-01-2015
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Готово</a>
                          <a class="dropdown-item" href="#">Редактировать</a>
                          <a class="dropdown-item" href="#">Удалить</a>
                        </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between ml-3 mr-1 pt-2">
                    <span class="font-weight-bold pt-2"><a class="a-white a-button" href="#">Задача текущая</a></span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                          10:25 01-01-2015
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Готово</a>
                          <a class="dropdown-item" href="#">Редактировать</a>
                          <a class="dropdown-item" href="#">Удалить</a>
                        </div>
                    </div>
                  </div>
                  <!-- /демо-контент -->

              </div>
            </div>

            <!-- правая маленькая колонка нижнего ряда -->
            <div class="col-lg col-xl">

              <!-- проекты -->
              <div id="projects" class="mx-2 my-2 block text-center pt-1 pb-2">
                <div class="row">
                  <div class="col"></div>
                  <div class="col">
                    <h4>Проекты</h4>
                  </div>
                  <div class="col pt-1 mr-1">
                    <div class="d-flex justify-content-end">
                      <span><a class="a-button block-icons px-1" href="#"><i class="fa fa-plus-square"></i></a></span>
                      <span><a class="a-button block-icons px-1" href="#"><i
                        class="fa fa-window-minimize"></i></a></span>
                      <span><a class="a-button block-icons px-1" href="#"><i
                        class="fa fa-window-maximize"></i></a></span>
                    </div>
                  </div>
                </div>
                
                <!-- /демо-контент -->
                  <div class="d-flex justify-content-between ml-3 mr-1 pt-2">
                    <span class="font-weight-bold pt-2"><a class="a-white a-button" href="#">Проект 1</a></span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-link-news dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                          10:25 01-01-2015
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Просмотр</a>
                          <a class="dropdown-item" href="#">Скрыть</a>
                        </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between ml-3 mr-1 pt-2">
                    <span class="font-weight-bold pt-2"><a class="a-white a-button" href="#">Проект 2</a></span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-link-news dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                          10:25 01-01-2015
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Просмотр</a>
                          <a class="dropdown-item" href="#">Скрыть</a>
                        </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between ml-3 mr-1 pt-2">
                    <span class="font-weight-bold pt-2"><a class="a-white a-button" href="#">Проект 3</a></span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-link-news dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                          10:25 01-01-2015
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Просмотр</a>
                          <a class="dropdown-item" href="#">Скрыть</a>
                        </div>
                    </div>
                  </div>
                <!-- демо-контент -->
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% else %}
    <div class="d-flex flex-column text-center">
      <!-- тут сделать красиво -->
      <div class="p-2"><img class="img-fluid" src="{% static 'images/logo.png' %}"></div>
      <div class="p-2">
        {# URL provided by django-allauth/account/urls.py #}
        <a class="btn btn-light btn-lg" id="sign-up-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
        {# URL provided by django-allauth/account/urls.py #}
        <a class="btn btn-light btn-lg" id="log-in-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
      </div>
    </div>

  {% endif %}
{% endblock content %}
