.edit_form{
	position: relative;

    width: auto;

	margin: 0 auto;

    max-width: 40%;

   padding: 30px 30px 6px 30px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
	color: #fff;
}

.body-dark {
	background: #1f253d;
    line-height: 1;
    color: antiquewhite;
}

.a-button:hover {
	color: #ffffff;
}

.block {
    margin-bottom: 25px;
    background: #394264;
    border-radius: 5px;
}

.avatar {
    margin: 0 auto;		
    border: 5px solid #50597b;
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.block-icons {
    color: #9099b7;
}

.hover_class .hover_button {
    visibility:hidden;
}

.hover_class:hover .hover_button {
    visibility:visible;
}

.good{
  color: #000;
}

.bad{
  color: #8B0000;
}

